h1 {
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}
h1:has(+ p){
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h5 {
    font-style: none;
}
body{
    background-color: rgb(3, 255, 255);
}